<!doctype html>
<html lang="en">

<head>
 <meta charset="utf-8">
 <meta http-equiv="x-ua-compatible" content="ie=edge">
 <title>Delete Product | Web Backend Development</title>
 <meta name="description" content="An activity describing the process to delete a product in the Acme site for CIT 336">
 <meta name="viewport" content="width=device-width">
 <link rel="stylesheet" href="../css/336course.min.css" media="screen">
</head>

<body>
 <div id="main">
  <header id="header"><img src="../images/bs_small_banner.jpg" alt="CIT 336 Banner Image"></header>
  <main>
   <article id="article">
    <h1>Delete a Product</h1>
    <p>The process to delete an item from a database is nearly identical to updating product information. For that reason, much of what was done in the update activities will be repeated in this activity.</p>
    <h2>Very Important</h2>
    <p>Unlike <i>delete</i> in a word processor, there is no "Undo" in a database delete. Once deleted, the data is gone. The only way to restore deleted data is from a backup if one exists.</p>

    <h2>Video Overview</h2>
    <p>This video provides an overview of what will be accomplished in this activity.</p>
    <iframe width="560" height="315" src="//www.youtube.com/embed/GubcH3T1dGg" allowfullscreen></iframe>

    <h2>The Basic Process</h2>
    <p>As mentioned earlier, the deletion process is similar to an update process:</p>
    <ol>
     <li>Start the delete.</li>
     <li>Information about the item being deleted is queried from the database and displayed in a view.
      <ul>
       <li>This is a confirmation step.</li>
       <li>Because there is no "Undo" we want the client to confirm that this is the correct item to be deleted.</li>
      </ul>
     </li>
     <li>The actual delete is submitted.</li>
     <li>The controller uses a model-based function to carry out the delete.</li>
     <li>The controller determines if the delete was successful or not and reports back to the browser the result.</li>
    </ol>

    <h2>Product Delete View</h2>
    <p>As mentioned above, we want a view to display the product information into so the item can be confirmed prior to being deleted. Because it is so similar to an update we will use the <b>product update</b> view to get us started.</p>
    <ol>
     <li>Find and open the <b>product update</b> view in the <b>view</b> folder.</li>
     <li>Do a "Save As..." and save the new view into the <b>view</b> folder with a name of <b>prod-delete.php</b>.</li>
     <li>Because this is only a confirmation view, much of what is here can be removed.</li>
     <li>In the PHP code block at the top of the view, remove any code other than the check for the client level. When done, the PHP code block should look similar to this:
      <code class="callout no-left">
               &lt;?php<br>
if($_SESSION['clientData']['clientLevel'] < 2){<br>
&nbsp;header('location: /acme/');<br>
               &nbsp;exit;<br>
               }<br>
?&gt;
               </code>
     </li>
     <li>Scroll down to the &lt;title&gt; element and edit the PHP code block and change "Modify" to "Delete". When done, what is left should look similar to this:
      <code class="callout no-left">
                &lt;title&gt;&lt;?php if(isset($prodInfo['invName'])){ echo "Delete $prodInfo[invName]";} ?&gt; | Acme, Inc.&lt;/title&gt;
               </code>
     </li>
     <li>Scroll down and make the exact same changes to the main content heading. When done it should look like this:
      <code class="callout no-left">
                &lt;h1&gt;&lt;?php if(isset($prodInfo['invName'])){ echo "Delete $prodInfo[invName]";} ?&gt;&lt;/h1&gt;
               </code>
     </li>
     <li>Change any text directions regarding the update to instead tell the client that they are to confirm this is the correct product to be deleted because the delete cannot be undone. For example:
      <code class="callout no-left">
                &lt;p&gt;Confirm Product Deletion. The delete is permanent.&lt;/p&gt;
               </code>
     </li>
     <li>Of the form inputs, we will leave only the following:
      <ol>
       <li>The product name</li>
       <li>The product description</li>
       <li>The submit input</li>
       <li>The two hidden inputs</li>
      </ol>
     </li>
     <li>Highlight and delete all form inputs and their labels except those mentioned above.</li>
     <li>Locate the <b>product name</b> and <b>product description</b> inputs. Do the following to both:
      <ol>
       <li>Edit the PHP code blocks in the form (similar to what you did for the &lt;title&gt; and &lt;h1&gt; elements earlier).</li>
       <li>Remove any client-side validation attributes that may be present.</li>
       <li>Add a "readonly" attribute to each, and make sure it is separated from other attributes by a space (if NetBeans attemps to add an equal sign with quotes after readonly, delete the equal and quotes).</li>
      </ol>
     </li>
     <li>Change the value of the "submit" input to say "Delete Product".</li>
     <li>Change the value of the first hidden input (the "action" name - value pair) to "deleteProd" or something similar.</li>
     <li>Find the second hidden input (the invId input) and remove its "elseif" section, just as done with the previous inputs.</li>
     <li>When done, the <b>prod-delete.php</b> view's form could look similar to this:
      <code class="callout no-left">
               &lt;form method="post" action="/acme/products/"&gt;<br>
               &nbsp;&lt;fieldset&gt;<br>
               <br>
               &nbsp;&nbsp;&lt;label for="invName"&gt;Product Name&lt;/label&gt;<br>
               &nbsp;&nbsp;&lt;input type="text" readonly name="invName" id="invName" &lt;?php if(isset($prodInfo['invName'])) {echo "value='$prodInfo[invName]'"; }?&gt;&gt;<br>
               <br>
               &nbsp;&nbsp;&lt;label for="invDescription"&gt;Product Description&lt;/label&gt;<br>
       &nbsp;&nbsp;&lt;textarea name="invDescription" readonly id="invDescription"&gt;&lt;?php if(isset($prodInfo['invDescription'])) {echo $prodInfo['invDescription']; } ?&gt;&lt;/textarea&gt;<br>
               <br>
               &nbsp;&nbsp;&lt;label&gt;&amp;nbsp;&lt;/label&gt;     <br>
               &nbsp;&nbsp;&lt;input type="submit" class="regbtn" name="submit" value="Delete Product"&gt;<br>
               <br>
               &nbsp;&nbsp;&lt;input type="hidden" name="action" value="deleteProd"&gt;<br>
               &nbsp;&nbsp;&lt;input type="hidden" name="invId" value="&lt;?php if(isset($prodInfo['invId'])){ echo $prodInfo['invId'];} ?&gt;"&gt;<br>
               <br>
               &nbsp;&lt;/fieldset&gt;<br>
               &lt;/form&gt;<br>
               </code>
     </li>
     <li>Review the view code that no errors are reported and save the file.</li>
    </ol>

    <h2>Product Controller</h2>
    <p>With the view ready, the controller can now be set up to deliver the view and process the delete. Remember that a delete is nearly identical to an update. So, it again is a two step process:</p>
    <h3>Step One</h3>
    <p>Step one is to start the delete and deliver the information for confirmation.</p>
    <ol>
     <li>In the product management view we display a "Delete" link that contains a name - value pair to indicate to the controller that a delete process was starting.</li>
     <li>Open the <b>Products</b> controller and find the code that was used to build the products table for display in the <b>Products Management</b> view.</li>
     <li>You should find the name - value pair for this process is "action=del".</li>
     <li>Scroll to the bottom of the existing control structures (in the "Switch") and if you don't already have a case statement for "del" create one. Such as:
      <code class="callout no-left">
              case 'del':<br>
              <br>
              &nbsp;break;
              </code>
     </li>
     <li>Now, find the case statement for beginning the "mod" process and copy everything inside of it.</li>
     <li>Return to the "del" case and paste the code inside of it.</li>
     <li>Alter the include statement to point to the new <b>prod-delete.php</b> view.</li>
     <li>When done the finished "mod" case should look similar to this:
      <code class="callout no-left">
               case 'del':<br>
               &nbsp;$invId = filter_input(INPUT_GET, 'id', FILTER_VALIDATE_INT);<br>
               &nbsp;$prodInfo = getProductInfo($invId);<br>
               &nbsp;if (count($prodInfo) < 1) {<br>
               &nbsp;&nbsp;$message = 'Sorry, no product information could be found.';<br>
               &nbsp;}<br>
               &nbsp;include '../view/prod-delete.php';<br>
               &nbsp;exit;<br>
               &nbsp;break;
              </code>
     </li>
     <li>The first step in the delete process is done!</li>
    </ol>
    <h3>Step Two</h3>
    <p>Step two is to process the delete and report the results.</p>
    <ol>
     <li>In the <b>prod-delete.php</b> view we have a hidden name - value input for "action". The value is "deleteProd".</li>
     <li>Here in the controller, create a new "case" statement to match it. Like this:
      <code class="callout no-left">
               case 'deleteProd':<br>
               <br>
               &nbsp;break;
              </code>
     </li>
     <li>Like before we will copy, paste and edit to give it functionality.</li>
     <li>Find and copy the contents of the case that processed the update process. Mine is named "updateProd".</li>
     <li>Return to the new, empty "deleteProd" case and paste everything into it.</li>
     <li>While the form will send five inputs (Name, Description, Action, Product ID, and Submit) we are only interested in two: the product name and the product ID.</li>
     <li>Delete all of the filters and variables except the one for the product name and the product id (its primary key).</li>
     <li>Because we are doing a delete, we will not do any error checking. Find and delete the whole error checking portion of the code.</li>
     <li>Change the name of the variable that captures the result from the function to reflect it is a delete (e.g. $deleteResult).</li>
     <li>Change the function name and parameter list to reflect that we are deleting a product and send only the product id variable to the function (e.g. deleteProduct($prodId)</li>
     <li>Change the test of the result variable to check the now renamed variable (e.g. if($deleteResult))</li>
     <li>Change the success message to reflect the delete was a success.</li>
     <li>Copy the entire success portion of the test (the message, the header and the exit).</li>
     <li>Replace the failure portion of the code (message, include and exit) with the copied success code.</li>
     <li>Alter the message to reflect that the delete failed.</li>
     <li>When complete the entire <b>deleteProd</b> case should look similar to this:
      <code class="callout no-left">
               case 'deleteProd':<br>
               &nbsp;$invName = filter_input(INPUT_POST, 'invName', FILTER_SANITIZE_STRING);<br>
               &nbsp;$invId = filter_input(INPUT_POST, 'invId', FILTER_SANITIZE_NUMBER_INT);<br>
               <br>
               &nbsp;$deleteResult = deleteProduct($invId);<br>
               &nbsp;if ($deleteResult) {<br>
               &nbsp;&nbsp;$message = "&lt;p class='notice'&gt;Congratulations, $invName was successfully deleted.&lt;/p&gt;";<br>
               &nbsp;&nbsp;$_SESSION['message'] = $message;<br>
               &nbsp;&nbsp;header('location: /acme/products/');<br>
               &nbsp;&nbsp;exit;<br>
               &nbsp;} else {<br>
               &nbsp;&nbsp;$message = "&lt;p class='notice'&gt;Error: $invName was not deleted.&lt;/p&gt;";<br>
               &nbsp;&nbsp;$_SESSION['message'] = $message;<br>
               &nbsp;&nbsp;header('location: /acme/products/');<br>
               &nbsp;&nbsp;exit;<br>
               &nbsp;}<br>
               &nbsp;break;<br>
               </code>
     </li>
     <li>Double check your code for any obvious errors. Save the File.</li>
    </ol>

    <h2>Products Model</h2>
    <p>We need a function to handle the delete call in the database, so let's get it done.</p>
    <ol>
     <li>Find and open the <b>products-model.php</b> file in the <b>model</b> folder.</li>
     <li>Find and copy the "updateProduct" function (I said the delete was nearly identical to an update).</li>
     <li>Move to the bottom of the functions in the model and add a comment indicating the function will carry out a product delete.</li>
     <li>Paste the copied function beneath the comment.</li>
     <li>To make sure we get this right, go back to the product controller and find the line in which you make the call to the delete function. Copy the function name and parameter list.</li>
     <li>Returning to the model, highlight the newly pasted function name and parameter list and paste. My code now looks like this:
      <code class="callout no-left">
               function deleteProduct($invId) {
               </code>
     </li>
     <li>Alter the SQL code to perform a delete of the product based on its product ID, for example:
      <code class="callout no-left">
                $sql = 'DELETE FROM inventory WHERE invId = :invId';
               </code>
     </li>
     <li>Delete all of the bindValue lines except the one for the product ID named parameter.</li>
     <li>That's it. When you're done the function should look similar to this (remember your database connection function name may be different than what you see here):
      <code class="callout no-left">
                function deleteProduct($invId) {<br>
                &nbsp;$db = acmeConnect();<br>
                &nbsp;$sql = 'DELETE FROM inventory WHERE invId = :invId';<br>
                &nbsp;$stmt = $db->prepare($sql);<br>
                &nbsp;$stmt->bindValue(':invId', $invId, PDO::PARAM_INT);<br>
                &nbsp;$stmt->execute();<br>
                &nbsp;$rowsChanged = $stmt->rowCount();<br>
                &nbsp;$stmt->closeCursor();<br>
                &nbsp;return $rowsChanged;<br>
                }<br>
               </code>
     </li>
     <li>Check for obvious errors and save the file.</li>
    </ol>

    <h2>Time to Test</h2>
    <p>Now is a great time to do some housekeeping with your inventory table as you practiced inserting items to the database and more than likely have a few records that really don't need to be there.</p>
    <ol>
     <li>The Apache and Database servers need to be running.</li>
     <li>Launch the Acme controller</li>
     <li>Login as a site administrator (username: admin@cit336.net, password: Sup3rU$er)</li>
     <li>On the admin page, click the "products" link.</li>
     <li>Find an item in the products list that you can safely delete (preferably one that you added during testing).</li>
     <li>Click the "Delete" link.</li>
     <li>If step one worked, you should now be looking at the "Delete" confirmation page and should not be able to edit any data seen in the view.</li>
     <li>Click the "Delete Product" button.</li>
     <li>You should be returned to the <b>product management</b> view and the success or failure message should be displayed.</li>
     <li>If the delete succeeded, the item should also be gone from the list.</li>
    </ol>

    <h2>Did it Work?</h2>
    <p>If things worked, congratulations and back slapping all around!</p>
    <p>If not, refer to the troubleshooting section below. Then, carefully review your code versus the code provided in this activity. Ask a learning team peer, post a question to the discussion board, contact a TA, talk to your professor. But get it working!</p>

    <h2>Troubleshooting</h2>
    <p>The most common cause of insert, update and delete failure is a name mismatch error.</p>
    <ol>
     <li>Check the form inputs where data is being input or stored. Note the "name" attribute. This is the name in the "name-value" pair. For example if my input was <code>name="prodId"</code>, then "prodId" is the name of my name-value pair.</li>
     <li>In the controller, when I am filtering and storing incoming data then the filter_input name has to match that coming from the form. So, my filter_input code would have to look like this: <code>filter_input(INPUT_POST, 'invId')</code>. By the way, it is case sensitive!</li>
     <li>While there are many other possible errors, this is the most common. Check it first!</li>
    </ol>

    <h2>Primary Key Value Holes</h2>
    <p>Now that you have the ability to delete records from a database you may notice "holes" in primary key values (e.g. 1, 2, 6, 14...) as you look down through the records using the PHPMyAdmin tool.</p>
    <p>The temptation is to "fill" those number in. Resist temptation! Ignore them. Our database is capable of storing billions of records and we let the server and PHP keep track of these values for us. So, ignore gaps in numbers and move on.</p>
   </article>
  </main>
  <footer>
   <a rel="license" href="//creativecommons.org/licenses/by-sa/3.0/deed.en_US" target="_blank"><img alt="Creative Commons License" style="border-width:0" src="//i.creativecommons.org/l/by-sa/3.0/88x31.png"></a> All materials (except as noted) are by <a href="//blainerobertson.net" title="Visit the site" target="_blank">Blaine Robertson</a> and licensed under a <a rel="license" href="//creativecommons.org/licenses/by-sa/3.0/deed.en_US" title="Read the license" target="_blank">Creative Commons Attribution-ShareAlike 3.0 License</a>.</footer>
 </div>
 <script src="../js/course.min.js"></script>
</body>

</html>
