<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Install XAMPP | Web Backend Development</title>
    <meta name="description" content="Install the XAMPP local development environment for CIT 336">
    <meta name="viewport" content="width=device-width">
    <link rel="stylesheet" href="../css/336course.min.css" media="screen">
</head>

<body>
    <div id="main">
        <header id="header"><img src="../images/bs_small_banner.jpg" alt="CIT 336 Banner Image"></header>
        <main>
            <article id="article">
                <h1>XAMPP</h1>
              <h2>What is it?</h2>
              <p>XAMPP is server software that can be downloaded and installed on a local machine. It includes a PHP engine, Apache web server software, a MariaDB (MySQL compatible) database server and the PHPMyAdmin database interface application.</p>
              <h2>Where do I get it?</h2>
              <p>Download from <a href="//www.apachefriends.org/index.html" title="Click to download XAMPP in a new tab" target="_blank">https://www.apachefriends.org/index.html</a>. Download the latest version 5.x available. <strong>Don't download PHP 7.</strong></p>
              
              <h2>How do I configure it?</h2>
              <p>Refer to Appendix A, B or C (depending on your laptop operating system) in the Murach text for installation and configuration directions.</p>
              
              <h2>When will I use it?</h2>
              <p>Once installed and configured you will begin using it immediately to develop and test your materials for the class.</p>
              
              <h2>What's Next?</h2>
              <p>When done installing and configuring XAMPP, be sure to <a href="clean-htdocs.html" target="_blank" title="Do the htdocs cleanup activity">Clean up the HTDOCS folder</a> prior to beginning your own work in XAMPP.</p>

            </article>
        </main>
        <footer>
            <a rel="license" href="//creativecommons.org/licenses/by-sa/3.0/deed.en_US" target="_blank"><img alt="Creative Commons License" style="border-width:0" src="//i.creativecommons.org/l/by-sa/3.0/88x31.png"></a> All materials (except as noted) are by <a href="http://blainerobertson.net" title="Visit the site" target="_blank">Blaine Robertson</a> and licensed under a <a rel="license" href="http://creativecommons.org/licenses/by-sa/3.0/deed.en_US" title="Read the license" target="_blank">Creative Commons Attribution-ShareAlike 3.0 License</a>.</footer>
    </div>
    <script src="../js/course.min.js"></script>
</body>

</html>
