<!doctype html>
<html lang="en">

<head>
 <meta charset="utf-8">
 <meta http-equiv="x-ua-compatible" content="ie=edge">
 <title>Product Navigation Links | Web Backend Development</title>
 <meta name="description" content="The Product Navigation Links activity for the acme site of CIT 336">
 <meta name="viewport" content="width=device-width">
 <link rel="stylesheet" href="../css/336course.min.css" media="screen">
 <link rel="stylesheet" href="../css/prism-coy-dev.min.css" media="screen">
</head>

<body>
 <div id="main">
  <header id="header"><img src="../images/bs_small_banner.jpg" alt="CIT 336 Banner Image"></header>
  <main>
   <article id="article">
    <h1>Product Navigation Links</h1>
    <p>Up to this point we have spent most of our time worrying about functionality for site administrators and clients. What we have not done is delivered content. We will remedy that this week.</p>

    <h2>Video Overview</h2>
    <p>This video provides an overview of this activity.</p>
    <iframe width="560" height="315" src="//www.youtube.com/embed/AlBCxkoR8_g" allowfullscreen></iframe>

    <h2>Link Paths</h2>
    <p>We started the class by building static navigation links. Later we built navigation links dynamically from the categories in the acme database. Now we will refine the actual links so they can pass necessary information to the products controller to deliver products from the database.</p>
    <ol>
     <li>Find and open the <b>functions.php</b> file in the <b>library</b> folder.</li>
     <li>Locate the custom function that builds the navigation list using the category information.</li>
     <li>The first link (outside of the loop) is to the Acme home page. Make sure that it points to the main acme controller (e.g. /acme/). Remember that since the controller is named "index.php" if we simply drop into the "acme" folder, the controller is what will receive the request. It, in turn, will deliver the home view.</li>
     <li>Closely examine the link path within the anchor element within the loop.</li>
     <li>Revise the path so that it:
      <ol>
       <li>Points to <b>your</b> actual folder name (e.g. /acme/)</li>
       <li>Points to the "products" folder (e.g. /acme/products/</li>
       <li>Passes a name-value pair for the "action" name that indicates we want to see items from a certain category (e.g. /acme/products/?action=category)</li>
       <li>Passes a second name-value pair that indicates the type of the category. When done the &lt;a&gt; finished code should look something like this:
        <pre class="line-numbers"><code class="language-markup">&lt;a href='/acme/products/?action=category&categoryName="
 .urlencode($category['categoryName']).
 "' title='View our $category[categoryName] product line'&gt;$category[categoryName]&lt;/a&gt;</code></pre>
 <p>The code above has been separated into three lines to help with readability. In reality, the code would be a single line.</p>
       </li>
      </ol>
     </li>
     <li>Be sure to use the name of YOUR acme folder.</li>
     <li>Once you are sure things are right and there are no errors, save the file.</li>
    </ol>

    <h2>The ? and the &amp;</h2>
    <p>The <code><b>?</b></code> in the path represents an indicator to the server that a name-value pair is being sent as a parameter through the URL. In our case, the name is "action" and the value is "category". Which we want to use as a keyword in the control structure of the products controller to hold a process to deliver a list of products by category.</p>
    <p>The <code><b>&amp;</b></code> in the path represents that another name-value pair is being sent (yes, these can be repeated for as many name-value pairs as you want to send). In our code, the second "name" is <b>categoryName</b> and its value is "$category[categoryName]" meaning the actual name of that category (e.g. Trap, Cannon, etc...).</p>

    <h2>The Products Controller</h2>
    <ol>
     <li>Find and open the "products" controller - <b>index.php</b> in the <b>products</b> folder.</li>
     <li>Scroll to the bottom of the list of existing case statements (but before the default case at the very bottom) and add a new one to be triggered by the new name-value pair being sent from the navigation links:
      <pre class="line-numbers"><code class="language-php">case 'category':

break;</code></pre>
     </li>
     <li>Within the case statement, write code to filter, sanitize and store the second value being sent through the URL (remember URL's are automatically sent using "GET"):
<pre class="line-numbers"><code class="language-php">case 'category':
  $categoryName = filter_input(INPUT_GET, 'categoryName', FILTER_SANITIZE_STRING);
break;</code></pre>
     </li>
     <li>Now, create a variable to store the array of products we hope will be returned from the products model:
<pre class="line-numbers"><code class="language-php">case 'category':<br>
 $categoryName = filter_input(INPUT_GET, 'categoryName', FILTER_SANITIZE_STRING);<br>
 $products = getProductsByCategory($categoryName);<br>
break;</code></pre>
     </li>
     <li>Next, an <code>if - else</code> control structure will be built to see if products were actually returned or not. If "No" then an error message will be built. If "Yes" then the array of products will be sent to custom function to build the HTML around the products and return it to us for display:
<pre class="line-numbers"><code class="language-php">case 'category':<br>
  $categoryName = filter_input(INPUT_GET, 'categoryName', FILTER_SANITIZE_STRING);<br>
  $products = getProductsByCategory($categoryName);<br>
  if(!count($products)){<br>
    $message = "&lt;p class='notice'&gt;Sorry, no $categoryName products could be found.&lt;/p&gt;";<br>
  } else {<br>
    $prodDisplay = buildProductsDisplay($products);<br>
  }<br>
  break;</code></pre>
     </li>
     <li>Finally, a view will be called to display either the message or the products belonging to the category clicked on in the navigation bar:
        <pre class="line-numbers"><code class="language-php">case 'category':
 $categoryName = filter_input(INPUT_GET, 'categoryName', FILTER_SANITIZE_STRING);<br>
 $products = getProductsByCategory($categoryName);<br>
 if(!count($products)){<br>
  $message = "&lt;p class='notice'&gt;Sorry, no $categoryName products could be found.&lt;/p&gt;";<br>
 } else {<br>
  $prodDisplay = buildProductsDisplay($products);<br>
 }<br>
 include '../view/category.php';<br>
 break;</code></pre>
     </li>
    </ol>

    <h2>Product Functions</h2>
    <p>With the links pointing to the products controller and passing the necessary name-value pairs, and the control structure in place to work with those name-value pairs, we are ready for the next activity. To build the functions to get the data and build the HTML structures around the product information.</p>
   </article>
  </main>
  <footer>
   <a rel="license" href="//creativecommons.org/licenses/by-sa/3.0/deed.en_US" target="_blank"><img alt="Creative Commons License" style="border-width:0" src="//i.creativecommons.org/l/by-sa/3.0/88x31.png"></a> All materials (except as noted) are by Blaine Robertson and licensed under a <a rel="license" href="//creativecommons.org/licenses/by-sa/3.0/deed.en_US" title="Read the license" target="_blank">Creative Commons Attribution-ShareAlike 3.0 License</a>.</footer>
 </div>
 <script src="../js/course.min.js"></script>
 <script src="../js/prism-coy-dev.min.js"></script>
</body>

</html>
