<!doctype html>
<html lang="en">

<head>
 <meta charset="utf-8">
 <meta http-equiv="x-ua-compatible" content="ie=edge">
 <title>Update Product (Step 2) | Web Backend Development</title>
 <meta name="description" content="The update process for a product concludes with this activity where the data is updated for a particular product in the Acme project for CIT 336">
 <meta name="viewport" content="width=device-width">
 <link rel="stylesheet" href="../css/336course.min.css" media="screen">
</head>

<body>
 <div id="main">
  <header id="header"><img src="../images/bs_small_banner.jpg" alt="CIT 336 Banner Image"></header>
  <main>
   <article id="article">
    <h1>Update Product (Step 2)</h1>
    <h2>Updating is a Two Step Process</h2>
    <p>An update requires two steps: 1) Once it is determined an update is occurring, the information to be changed has to be requested from the database and made available to be edited; 2) When the edit is completed, the data must then be stored back into the database and the user informed of the success or failure of the change. This document covers step 2: Making changes to the data, submitting it to the controller, checking the data and ultimately updating the data to the database and notifying the site visitor of the outcome. Step 1 in the update process was covered in the <a href="update-product-one.html" title="Opens in a new tab" target="_blank">Step 1 activity</a>.</p>

    <h2>Video Demonstration</h2>
    <p>This video demonstrates step 2 in the update process: sending data to the controller for checking and processing, storing the changed data to the database and informing the user of the outcome. The Step-by-Step instructions for accomplishing what this video demonstrates are found below.</p>
    <iframe width="560" height="315" src="https://www.youtube.com/embed/lTU14zdleg4" allowfullscreen></iframe>

    <h2>The Product Update View</h2>
    <p>The view where the data will be modified is nearly complete. The form inputs should display the data that was queried from the database.</p>
    <p>What is equally important is that the view should already have the means to display error messages and be "sticky" if incomplete data is submitted to the controller and is returned for correction.</p>
    <p>While we are talking about the view let's check one thing and add a new thing:</p>
    <ol>
     <li>Begin by looking at the hidden input in the update view. We need to know what the value of "action" is so we can add the correct control structure in the controller. My hidden input looks like this:
      <code class="callout no-left">
              &lt;input type="hidden" name="action" value="updateProd"&gt;
            </code> If yours is different, use your value.
     </li>
     <li>We will now add a second hidden input to store the primary key value for the product being updated. Below the existing hidden input containing the name - value pair, add another one to look like this:
      <code class="callout no-left">
       &lt;input type="hidden" name="invId" value="&lt;?php if(isset($prodInfo['invId'])){ echo $prodInfo['invId'];} elseif(isset($invId)){ echo $invId; } ?&gt;"&gt;
            </code> This allows us to submit the primary key for the product without it being obvious to the client looking at the form. In addition, if the page is included for error correction the value of the primary key (from the error check process) is returned and re-inserted into the hidden field.
     </li>
     <li>Save the view.</li>
    </ol>

    <h2>The Products Controller</h2>
    <p>The controller should recieve and check the data sent from the update view. It follows the same process as for any other submission. Because of that we will do some copy and paste to make this process go faster:</p>
    <ol>
     <li>Open the <b>products controller</b></li>
     <li>Add a new control structure to match the value of the action checked in #1 above. My structure looks like this:
      <code class="callout no-left">
              case 'updateProd':<br>
              <br>
              &nbsp;break;<br>
            </code>
     </li>
     <li>Because the submission process for the update is nearly identical to the original insertion, we will copy and paste that code and then modify it.</li>
     <li>Find the insert process for a new product in the <b>products</b> controller. Copy it.</li>
     <li>Return to the new control structure you just added, click inside of it and paste. When done your code <b><i>could</i></b> look something like this (<strong>Your variable and function names may be different than what you see here)</strong>:
      <code class="callout no-left">
              case 'updateProd':<br>
              &nbsp;$catType = filter_input(INPUT_POST, 'catType', FILTER_SANITIZE_NUMBER_INT);<br>
       &nbsp;$invName = filter_input(INPUT_POST, 'invName', FILTER_SANITIZE_STRING);<br>
       &nbsp;$invDescription = filter_input(INPUT_POST, 'invDescription', FILTER_SANITIZE_STRING);<br>
       &nbsp;$invImg = filter_input(INPUT_POST, 'invImg', FILTER_SANITIZE_STRING);<br>
       &nbsp;$invThumb = filter_input(INPUT_POST, 'invThumb', FILTER_SANITIZE_STRING);<br>
       &nbsp;$invPrice = filter_input(INPUT_POST, 'invPrice', FILTER_SANITIZE_NUMBER_FLOAT, FILTER_FLAG_ALLOW_FRACTION);<br>
       &nbsp;$invStock = filter_input(INPUT_POST, 'invStock', FILTER_SANITIZE_NUMBER_INT);<br>
       &nbsp;$invSize = filter_input(INPUT_POST, 'invSize', FILTER_SANITIZE_NUMBER_INT);<br>
       &nbsp;$invWeight = filter_input(INPUT_POST, 'invWeight', FILTER_SANITIZE_NUMBER_INT);<br>
       &nbsp;$invLocation = filter_input(INPUT_POST, 'invLocation', FILTER_SANITIZE_STRING);<br>
       &nbsp;$invVendor = filter_input(INPUT_POST, 'invVendor', FILTER_SANITIZE_STRING);<br>
       &nbsp;$invStyle = filter_input(INPUT_POST, 'invStyle', FILTER_SANITIZE_STRING);<br>


              &nbsp;if (empty($catType) || empty($invName) || empty($invDescription) || empty($invImg) || empty($invThumb) || empty($invPrice) || empty($invStock) || empty($invSize) || empty($invWeight) || empty($invLocation) || empty($invVendor) || empty($invStyle)) {<br>
              &nbsp;&nbsp;$message = '&lt;p&gt;Please complete all information for the new item! Double check the category of the item.&lt;/p&gt;';<br>
              &nbsp;include '../view/new-prod.php';<br>
              &nbsp;exit;<br>
              }
              &nbsp;$insertResult = addProduct($catType, $invName, $invDescription, $invImg, $invThumb, $invPrice, $invStock, $invSize, $invWeight, $invLocation, $invVendor, $invStyle);<br>
              &nbsp;if ($insertResult) {<br>
              &nbsp;&nbsp;$message = "&lt;p&gt;Congratulations, $invName was successfully added.&lt;/p&gt;";<br>
              &nbsp;&nbsp;include '../view/new-prod.php';<br>
              &nbsp;&nbsp;exit;<br>
              &nbsp;} else {<br>
              &nbsp;&nbsp;$message = "&lt;p&gt;Error. The new product was not added.&lt;/p&gt;";<br>
              &nbsp;include '../view/new-prod.php';<br>
              &nbsp;exit;<br>
              }<br>
              &nbsp;break;<br>
            </code>
     </li>
     <li>Most of this code is fine and can be left alone. But we need to make a few changes:
      <ol>
       <li>Add a new variable to filter and store the primary key value being passed from the form. It could look like this:
        <code class="callout no-left">
              $invId = filter_input(INPUT_POST, 'invId', FILTER_SANITIZE_NUMBER_INT);<br>
  </code> We will not add this to our checks since there is no easy way to have the user correct it. If it is wrong or missing the update will simply fail.
       </li>
       <li>Scroll down and find the first error message, after the data checks. If it says anything about a "new" item, change it to reflect an "updated" item.</li>
       <li>Beneath that change the view to include to be the <b>prod-update.php</b> view, since that is where the data was sent from.</li>
       <li>Change the name of the function that will be called from the model to "<b>updateProduct( ... variables are here ...)</b>".</li>
       <li>Add the <code>$invId</code> variable as an additional parameter to the <code>updateProduct</code> function.</li>
       <li>Change the name of the variable that the <code>updateProduct</code> function's return value will be stored into to <b>$updateResult</b>.</li>
       <li>Change the <code>if</code> test to check for the results of <b>$updateResult</b>.</li>
       <li>Change the success message to reflect that the update was successful, not an insertion.</li>
       <li>Change the failure message to reflect that the update did not work.</li>
       <li>The last two edits are to where the success and failure messages will display.
        <ol>
         <li>If the update fails, display the failure in the <b>prod-update.php</b> view. Change the include statement to use this new view.</li>
         <li>If the update succeeds, we want to be redirected back to the product management view, display the message and also get the full list of products to appear again. To do this, we will use the session to store the message, use a header function to return to the controller, and then have the controller deliver the view and display the message. To do this alter that success to resemble this:
          <code class="callout no-left">
         if ($updateResult) {<br>
           &nbsp;$message = "&lt;p class='notify'&gt;Congratulations, $invName was successfully updated.&lt;/p&gt;";<br>
           &nbsp;$_SESSION['message'] = $message;<br>
           &nbsp;header('location: /acme/products/');<br>
           &nbsp;exit;<br>
         }
         </code>
         </li>
        </ol>
       </li>
      </ol>
     </li>
    </ol>
    <h2>Product Management View</h2>
    <p>Because we stored the success message into the session in the controller after the update worked, we need to add a small amount of code to the <b>product management</b> view to get the message from the session and display it. Make the following changes:</p>
    <ol>
     <li>Find and open the <b>product management</b> view.</li>
     <li>At the top of the view there should already be a PHP code block that contains the code to make sure clients have the correct level, similar to this:
      <code class="callout no-left">
      if ($_SESSION['clientData']['clientLevel'] &lt; 2) {<br>
      &nbsp;header('location: /acme/');<br>
      &nbsp;exit;<br>
      }<br>
      </code>
     </li>
     <li>Add several empty lines at the bottom of the code block, but still inside of it.</li>
     <li>Then add the following code in the empty spaces:
      <code class="callout no-left">
       if (isset($_SESSION['message'])) {<br>
       &nbsp;$message = $_SESSION['message'];<br>
       }<br>
      </code>
     </li>
     <li>When you are done, the entire PHP code block should look like this:
      <code class="callout no-left">
       if ($_SESSION['clientData']['clientLevel'] &lt; 2) {<br>
       &nbsp;header('location: /acme/');<br>
       &nbsp;exit;<br>
       }<br>
       if (isset($_SESSION['message'])) {<br>
       &nbsp;$message = $_SESSION['message'];<br>
       }<br>
      </code>
     </li>
     <li>Because we don't want the message hanging around in the session, we will get rid of it after using it.</li>
     <li>Scroll all the way to the bottom of the <b>product management</b> view. After the closing html tag (e.g. &lt;/html&gt;) add the following line of code:
      <code class="callout no-left">
      &lt;?php unset($_SESSION['message']); ?&gt;
      </code>
     </li>
     <li>Save the file.</li>
    </ol>
    <h2>Compare Code</h2>
    <p>Compare your finished update process block against the example code below. The parts that were changed are highlighted.</p>
    <code class="callout">
     case 'updateProd':<br>
     &nbsp;$catType = filter_input(INPUT_POST, 'catType', FILTER_SANITIZE_NUMBER_INT);<br>
     &nbsp;$invName = filter_input(INPUT_POST, 'invName', FILTER_SANITIZE_STRING);<br>
     &nbsp;$invDescription = filter_input(INPUT_POST, 'invDescription', FILTER_SANITIZE_STRING);<br>
     &nbsp;$invImg = filter_input(INPUT_POST, 'invImg', FILTER_SANITIZE_STRING);<br>
     &nbsp;$invThumb = filter_input(INPUT_POST, 'invThumb', FILTER_SANITIZE_STRING);<br>
     &nbsp;$invPrice = filter_input(INPUT_POST, 'invPrice', FILTER_SANITIZE_NUMBER_FLOAT, FILTER_FLAG_ALLOW_FRACTION);<br>
     &nbsp;$invStock = filter_input(INPUT_POST, 'invStock', FILTER_SANITIZE_NUMBER_INT);<br>
     &nbsp;$invSize = filter_input(INPUT_POST, 'invSize', FILTER_SANITIZE_NUMBER_INT);<br>
     &nbsp;$invWeight = filter_input(INPUT_POST, 'invWeight', FILTER_SANITIZE_NUMBER_INT);<br>
     &nbsp;$invLocation = filter_input(INPUT_POST, 'invLocation', FILTER_SANITIZE_STRING);<br>
     &nbsp;$invVendor = filter_input(INPUT_POST, 'invVendor', FILTER_SANITIZE_STRING);<br>
     &nbsp;$invStyle = filter_input(INPUT_POST, 'invStyle', FILTER_SANITIZE_STRING);<br>
     &nbsp;<mark>$invId = filter_input(INPUT_POST, 'invId', FILTER_SANITIZE_NUMBER_INT);</mark><br>
     <br>
     &nbsp;if (empty($catType) || empty($invName) || empty($invDescription) || empty($invImg) || empty($invThumb) || empty($invPrice) || empty($invStock) || empty($invSize) || empty($invWeight) || empty($invLocation) || empty($invVendor) || empty($invStyle)) {<br>
     &nbsp;&nbsp;<mark>$message = '&lt;p&gt;Please complete all information for the item! Double check the category of the item.&lt;/p&gt;';</mark><br>
     &nbsp;&nbsp;<mark>include '../view/prod-update.php';</mark><br>
     &nbsp;&nbsp;exit;<br>
     &nbsp;}<br>
     &nbsp;<mark>$updateResult = updateProduct($catType, $invName, $invDescription, $invImg, $invThumb, $invPrice, $invStock, $invSize, $invWeight, $invLocation, $invVendor, $invStyle, $invId);</mark><br>
     &nbsp;if (<mark>$updateResult</mark>) {<br>
     &nbsp;&nbsp;<mark>$message = "&lt;p class='notice'&gt;Congratulations, $invName was successfully updated.&lt;/p&gt;";</mark><br>
     &nbsp;&nbsp;<mark>$_SESSION['message'] = $message;</mark><br>
     &nbsp;&nbsp;<mark>header('location: /acme/products/');</mark><br>
     &nbsp;&nbsp;exit;<br>
     &nbsp;} else {<br>
     &nbsp;&nbsp;<mark>$message = "&lt;p class='notice'&gt;Error. $invName was not updated.&lt;/p&gt;";</mark><br>
     &nbsp;&nbsp;<mark>include '../view/prod-update.php';</mark><br>
     &nbsp;&nbsp;exit;<br>
     &nbsp;}<br>
     break;<br>
    </code>

    <h2>Products Model</h2>
    <p>Finally we will create the updateProduct() function and then be ready to test. I hope you have already guessed that we will create this function by copying and editing your <b>add product</b> function, since they are so similar.</p>
    <ol>
     <li>Find and open the <b>products model</b> file in the <b>model</b> folder.</li>
     <li>Locate your <b>add product</b> function, copy it.</li>
     <li>Move to the bottom of the model file (below the existing functions).</li>
     <li>Add a comment indicating that the function will update a product.</li>
     <li>Paste the <b>add product</b> function below your new comment.</li>
     <li>Change the name of the function to <b>updateProduct()</b>.</li>
     <li>Leave all existing parameters as they exist, but add <code>$invId</code> to the list of parameters and make sure a comma separates it from other parameters in the list. When done the function name and parameter list could look like this:
      <code class="callout no-left">
      function updateProduct($catType, $invName, $invDescription, $invImg, $invThumb, $invPrice, $invStock, $invSize, $invWeight, $invLocation, $invVendor, $invStyle, $invId)
      </code>
     </li>
     <li>The biggest change to the function will be the SQL statement. We have to change it to an UPDATE from an INSERT.</li>
     <li>Alter the SQL to look like this (remember that your named parameters (placeholders) may be different than those shown):
      <code class="callout no-left">
       $sql = 'UPDATE inventory SET invName = :invName, invDescription = :invDescription, invImage = :invImg, invThumbnail = :invThumb, invPrice = :invPrice, invStock = :invStock, invSize = :invSize, invWeight = :invWeight, invLocation = :invLocation, categoryId = :catType, invVendor = :invVendor, invStyle = :invStyle WHERE invId = :invId';
      </code>
     </li>
     <li>Add an additional <code>bindValue</code> method for the <code>$invId</code>. It should look like this:
      <code class="callout no-left">
      $stmt->bindValue(':invId', $invId, PDO::PARAM_INT);
      </code>
     </li>
     <li>When done the function should look similar to this (items that were changed are highlighted):
      <code class="callout no-left">
       <mark>// Update a product</mark><br>
       function <mark>updateProduct</mark>($catType, $invName, $invDescription, $invImg, $invThumb, $invPrice, $invStock, $invSize, $invWeight, $invLocation, $invVendor, $invStyle<mark>, $invId</mark>) {<br>
       // Create a connection<br>
       $db = acmeConnect();<br>
       // The SQL statement to be used with the database<br>
       <mark>$sql = 'UPDATE inventory SET invName = :invName, invDescription = :invDescription, invImage = :invImg, invThumbnail = :invThumb, invPrice = :invPrice, invStock = :invStock, invSize = :invSize, invWeight = :invWeight, invLocation = :invLocation, categoryId = :catType, invVendor = :invVendor, invStyle = :invStyle WHERE invId = :invId';</mark><br>
       $stmt = $db->prepare($sql);<br>
       $stmt->bindValue(':catType', $catType, PDO::PARAM_INT);<br>
       $stmt->bindValue(':invName', $invName, PDO::PARAM_STR);<br>
       $stmt->bindValue(':invDescription', $invDescription, PDO::PARAM_STR);<br>
       $stmt->bindValue(':invImg', $invImg, PDO::PARAM_STR);<br>
       $stmt->bindValue(':invThumb', $invThumb, PDO::PARAM_STR);<br>
       $stmt->bindValue(':invPrice', $invPrice, PDO::PARAM_STR);<br>
       $stmt->bindValue(':invStock', $invStock, PDO::PARAM_INT);<br>
       $stmt->bindValue(':invSize', $invSize, PDO::PARAM_INT);<br>
       $stmt->bindValue(':invWeight', $invWeight, PDO::PARAM_INT);<br>
       $stmt->bindValue(':invLocation', $invLocation, PDO::PARAM_STR);<br>
       $stmt->bindValue(':invVendor', $invVendor, PDO::PARAM_STR);<br>
       $stmt->bindValue(':invStyle', $invStyle, PDO::PARAM_STR);<br>
       <mark>$stmt->bindValue(':invId', $invId, PDO::PARAM_INT);</mark><br>
       $stmt->execute();<br>
       $rowsChanged = $stmt->rowCount();<br>
       $stmt->closeCursor();<br>
       return $rowsChanged;<br>
       }<br>
      </code>
     </li>
    </ol>

    <h2>Time to Test</h2>
    <p>Double check all files worked with for obvious errors (red icons or red underlines) in the code: products controller, products model, prod-update.php or the product management view. If no obvious errors exist, you're ready to test your code.</p>
    <ol>
     <li>Make sure the Apache and Database servers are running.</li>
     <li>Launch your Acme controller. The home view should be delivered.</li>
     <li>Navigate to the login view and login as an administrator (username: admin@cit336.net, password: Sup3rU$er).</li>
     <li>Change the URL to go to the products controller (e.g http://localhost/acme/products/).</li>
     <li>Click the "Modify" link for one of the products.</li>
     <li>The product information should load into the form in the <b>prod-update.php</b> view.</li>
     <li>Right click on the page and do a "View Page Source".</li>
     <li>Scroll down and look at the code. Find the "hidden" input where the primary key value of the product should be stored. Make sure it is there.</li>
     <li>Return to the form and change something, just one thing for right now.</li>
     <li>Submit the form.</li>
     <li>If things worked you should be returned to the <b>product management</b> view and you should see the success message and the list of products.</li>
     <li>To double check, click the "Modify" link for the same item. Did the change that you made earlier appear in the form? If so, you are good to go.</li>
     <li>If everything looks good, submit the form again, but without making a change.</li>
     <li><mark>When attempting an <b>UPDATE</b> if no information is changed the number of rows affected will be zero, thus triggering your update failure message.</mark></li>
     <li>You should have been returned to the update view and the data should still be present, but the failure message should be visible.</li>
     <li>If everything worked - Congratulations (<i>Crowd cheering in the background</i>)!</li>
     <li>If not, troubleshoot and get help until it is operational.</li>
    </ol>

   </article>
  </main>
  <footer>
   <a rel="license" href="//creativecommons.org/licenses/by-sa/3.0/deed.en_US" target="_blank"><img alt="Creative Commons License" style="border-width:0" src="//i.creativecommons.org/l/by-sa/3.0/88x31.png"></a> All materials (except as noted) are by <a href="//blainerobertson.net" title="Visit the site" target="_blank">Blaine Robertson</a> and licensed under a <a rel="license" href="//creativecommons.org/licenses/by-sa/3.0/deed.en_US" title="Read the license" target="_blank">Creative Commons Attribution-ShareAlike 3.0 License</a>.</footer>
 </div>
 <script src="../js/course.min.js"></script>
</body>

</html>
