<!doctype html>
<html lang="en">

<head>
 <meta charset="utf-8">
 <meta http-equiv="x-ua-compatible" content="ie=edge">
 <title>Uploads Helper Functions | Web Backend Development</title>
 <meta name="description" content="Building the Uploads Helper functions for uploading images for the Acme project for CIT 336">
 <meta name="viewport" content="width=device-width">
 <link rel="stylesheet" href="../css/336course.min.css" media="screen">
</head>

<body>
 <div id="main">
  <header id="header"><img src="../images/bs_small_banner.jpg" alt="CIT 336 Banner Image"></header>
  <main>
   <article id="article">
    <h1>Uploads Helper Functions</h1>
    <p>While the controller, model and view are critical to the functionality of the image upload tool, most of the real work is being performed by the "helper" functions. Each of these functions is responsible for a specific task. Some are simple, others are complex. All are commented so be sure to read the code comments to understand what each function or each step within the function does.</p>

    <h2>The functions.php File</h2>
    <p>Each of these helper function will be added to the existing <b>functions.php</b> file in the <b>library</b> folder.</p>
    <ol>
     <li>Find and open the <b>functions.php</b> file in the <b>library</b> folder.</li>
     <li>Move to the bottom of the existing functions and add the following comment:
      <code class="callout no-left">
      /* * ********************************<br>
      *  Functions for working with images<br>
      * ********************************* */<br>
      </code>
     </li>
    </ol>

    <h2>The makeThumbnailName() Function</h2>
    <p>Notice this function does not make a thumbnail, it adds the thumbnail designation "-tn" to an image name. Add the following function code beneath the comment you added previously:
     <code class="callout no-left">
      // Adds "-tn" designation to file name<br>
      function makeThumbnailName($image) {<br>
      &nbsp;$i = strrpos($image, '.');<br>
      &nbsp;$image_name = substr($image, 0, $i);<br>
      &nbsp;$ext = substr($image, $i);<br>
      &nbsp;$image = $image_name . '-tn' . $ext;<br>
      &nbsp;return $image;<br>
      }<br>
     </code>
    </p>
    <h3>An Explanation</h3>
    <ul>
     <li>The function needs a string representing a name (the path or file name) of an image (e.g. anvil.jpg). This is sent into the function as a parameter.</li>
     <li>The PHP <code>strrpos()</code> function looks for the location of the period in the name. When found it sends back the position as a number (the # of characters in the string where the period is located - anvil.jpg: the period is "6" in the string).</li>
     <li>The PHP <code>substr()</code> function is then used to break the string apart as if it were an array. Everything to the left of the period (now referred to as <code>$i</code> is element zero "0" in the array. It is the <code>$image_name</code> (e.g. anvil).</li>
     <li>Whatever is left in the array is the file extension (now stored as <code>$ext</code> (e.g. jpg).</li>
     <li>Finally, the file name is concatenated to the "-tn" string and the extension is concatenated to the end (e.g. anvil-tn.jpg).</li>
     <li>The now altered name of the "thumbnail" is returned.</li>
     <li><strong>Note:</strong> If more than one period exists, the function will break or possibly return unexpected results. This is why file name should have only a single period in them to separate the name from the extension!</li>
    </ul>

    <h2>The buildImageDisplay() Function</h2>
    <p>This function is responsible for taking a multi-dimensional array of image information from the database and wrapping it up in HTML for display in the view. Add the following comment and function below the previous function:
     <code class="callout no-left">
     // Build images display for image management view<br>
     function buildImageDisplay($imageArray) {<br>
     &nbsp;$id = '&lt;ul id="image-display"&gt;';<br>
     &nbsp;foreach ($imageArray as $image) {<br>
     &nbsp;&nbsp;$id .= '&lt;li&gt;';<br>
     &nbsp;&nbsp;$id .= "&lt;img src='$image[imgPath]' title='$image[invName] image on Acme.com' alt='$image[invName] image on Acme.com'&gt;";<br>
     &nbsp;&nbsp;$id .= "&lt;p&gt;&lt;a href='/acme/uploads?action=delete&amp;id=$image[imgId]&amp;filename=$image[imgName]' title='Delete the image'&gt;Delete $image[imgName]&lt;/a&gt;&lt;/p&gt;";<br>
     &nbsp;&nbsp;$id .= '&lt;/li&gt;';<br>
     &nbsp;}<br>
     &nbsp;$id .= '&lt;/ul&gt;';<br>
     &nbsp;return $id;<br>
     }<br>
     </code>
    </p>
    <h3>An Explanation</h3>
    <ul>
     <li>The function expects a multi-dimension array of image and inventory information (this would have been queried from the function on the model.</li>
     <li>This function then builds an unordered list.</li>
     <li>Using a <code>foreach()</code> loop the multi-dimensional array is broken apart into simple arrays.</li>
     <li>The various elements of the simple array are used to insert the picture into a list item.</li>
     <li>A paragraph with a link is also inserted into the list item. The link is what is used to trigger the delete functionality to remove an image from the site and the database.</li>
     <li>When the <code>foreach()</code> loop finishes, the unorderd list is closed.</li>
     <li>The complete unordered list, with all the images and links is returned.</li>
    </ul>

    <h2>The buildProductsSelect() Function</h2>
    <p>This function should look familiar, it is very similar to the <code>buildCategoriesSelect()</code> function. It takes a list of inventory item names and id's and builds them into an HTML select dropdown menu and is used in the image management view. Add this comment and function below the previous function:
    <code class="callout no-left">
     // Build the products select list<br>
     function buildProductsSelect($products) {<br>
     &nbsp;$prodList = '&lt;select name="invItem" id="invItem"&gt;';<br>
     &nbsp;$prodList .= "&lt;option&gt;Choose a Product&lt;/option&gt;";<br>
     &nbsp;foreach ($products as $product) {<br>
     &nbsp;&nbsp;$prodList .= "&lt;option value='$product[invId]'&gt;$product[invName]&lt;/option&gt;";<br>
     &nbsp;}<br>
     &nbsp;$prodList .= '&lt;/select&gt;';<br>
     &nbsp;return $prodList;<br>
     }
     </code>
    </p>

    <h2>The uploadFile() Function</h2>
    <p>This file is somewhat complicated. It stores the physical file to the server and returns the path of where the file was stored. That path will then be inserted to the database. Add the following comment and function below the previous function:
    <code class="callout no-left">
     // Handles the file upload process and returns the path<br>
     // The file path is stored into the database<br>
     function uploadFile($name) {<br>
     &nbsp;// Gets the pathes, full and local directory<br>
     &nbsp;global $image_dir, $image_dir_path;<br>
     &nbsp;if (isset($_FILES[$name])) {<br>
     &nbsp;&nbsp;// Gets the actual file name<br>
     &nbsp;&nbsp;$filename = $_FILES[$name]['name'];<br>
     &nbsp;&nbsp;if (empty($filename)) {<br>
     &nbsp;&nbsp;&nbsp;return;<br>
     &nbsp;&nbsp;}<br>
     &nbsp;// Get the file from the temp folder on the server<br>
     &nbsp;$source = $_FILES[$name]['tmp_name'];<br>
     &nbsp;// Sets the new path - images folder in this directory<br>
     &nbsp;$target = $image_dir_path . DIRECTORY_SEPARATOR . $filename;<br>
     &nbsp;// Moves the file to the target folder<br>
     &nbsp;move_uploaded_file($source, $target);<br>
     &nbsp;// Send file for further processing<br>
     &nbsp;processImage($image_dir_path, $filename);<br>
     &nbsp;// Sets the path for the image for Database storage<br>
     &nbsp;$filepath = $image_dir . DIRECTORY_SEPARATOR . $filename;<br>
     &nbsp;// Returns the path where the file is stored<br>
     &nbsp;return $filepath;<br>
     &nbsp;}<br>
     }<br>
     </code>
    </p>
    <h3>An Explanation</h3>
    <p>Because of the numerous processes refer to the comments in the code. But in general:</p>
    <ul>
    <li>The name of the uploaded file is sent into the function as a parameter.</li>
     <li>The path variables (from the controller) are "global"-ized, meaning they are brouht into the function's scope for use.</li>
     <li>A series of checks are used to make sure there is a physical file in the PHP <code>$_FILES</code> super global object. This is similar to other super globals ($_SESSION, $_POST, $_GET) in that they work like associative arrays. In this case the <code>$_FILES</code> super global handles all file uploads.</li>
     <li>All uploads are stored in a temporary location, that is found.</li>
     <li>The path to the permenant storage location is built.</li>
     <li>The physical file is then moved to the permanent location.</li>
     <li>The physical file is then sent to another process for manipulation (it will be our next function).</li>
     <li>Finally the path to where the file is stored is finished and returned for inserting to the database.</li>
    </ul>

    <h2>The processImage() Function</h2>
    <p>This function builds the actual paths for storing the images and also calls a function that will resize images to dimensions that are specified. It actually replaces the original file with the modified file and creates the thumbnail file in the same location as other images. Refer to the included comments for the specifics of each line of code in the function. Enter the following comment and function below the previous function:
    <code class="callout no-left">
     // Processes images by getting paths and <br>
     // creating smaller versions of the image<br>
     function processImage($dir, $filename) {<br>
     &nbsp;// Set up the variables<br>
     &nbsp;$dir = $dir . DIRECTORY_SEPARATOR;<br>
     <br>
     &nbsp;// Set up the image path<br>
     &nbsp;$image_path = $dir . DIRECTORY_SEPARATOR . $filename;<br>
     <br>
     &nbsp;// Set up the thumbnail image path<br>
     &nbsp;$image_path_tn = $dir.makeThumbnailName($filename);<br>
     <br>
     &nbsp;// Create a thumbnail image that's a maximum of 250 pixels square<br>
     &nbsp;resizeImage($image_path, $image_path_tn, 250, 250);<br>
     <br>
     &nbsp;// Resize original to a maximum of 500 pixels square<br>
     &nbsp;resizeImage($image_path, $image_path, 500, 500);<br>
     }<br>
     </code>
    </p>

    <h2>The resizeImage() Function</h2>
    <p>This is the true work horse function. It is responsible for: 1) checking that only image files are being uploaded, 2) checking the size of the image and resizing it if it is larger than what was specified, 3) replacing old images with new versions and 4) destroying temporary files that may exist. Refer to the comments within the code for specific operations and refer to PHP.net for details on the many PHP functions used in this function. Add the following comment and function beneath the previous function:
    <code class="callout no-left">
     // Checks and Resizes image<br>
     function resizeImage($old_image_path, $new_image_path, $max_width, $max_height) {<br>
     <br>
     &nbsp;// Get image type<br>
     &nbsp;$image_info = getimagesize($old_image_path);<br>
     &nbsp;$image_type = $image_info[2];<br>
     <br>
     &nbsp;// Set up the function names<br>
     &nbsp;switch ($image_type) {<br>
     &nbsp;case IMAGETYPE_JPEG:<br>
     &nbsp;&nbsp;$image_from_file = 'imagecreatefromjpeg';<br>
     &nbsp;&nbsp;$image_to_file = 'imagejpeg';<br>
     &nbsp;break;<br>
     &nbsp;case IMAGETYPE_GIF:<br>
     &nbsp;&nbsp;$image_from_file = 'imagecreatefromgif';<br>
     &nbsp;&nbsp;$image_to_file = 'imagegif';<br>
     &nbsp;break;<br>
     &nbsp;case IMAGETYPE_PNG:<br>
     &nbsp;&nbsp;$image_from_file = 'imagecreatefrompng';<br>
     &nbsp;&nbsp;$image_to_file = 'imagepng';<br>
     &nbsp;break;<br>
     &nbsp;default:<br>
     &nbsp;&nbsp;return;<br>
     &nbsp;}<br>
     <br>
     &nbsp;// Get the old image and its height and width<br>
     &nbsp;$old_image = $image_from_file($old_image_path);<br>
     &nbsp;$old_width = imagesx($old_image);<br>
     &nbsp;$old_height = imagesy($old_image);<br>
     <br>
     &nbsp;// Calculate height and width ratios<br>
     &nbsp;$width_ratio = $old_width / $max_width;<br>
     &nbsp;$height_ratio = $old_height / $max_height;<br>
     <br>
     &nbsp;// If image is larger than specified ratio, create the new image<br>
     &nbsp;if ($width_ratio > 1 || $height_ratio > 1) {<br>
     <br>
     &nbsp;&nbsp;// Calculate height and width for the new image<br>
     &nbsp;&nbsp;$ratio = max($width_ratio, $height_ratio);<br>
     &nbsp;&nbsp;$new_height = round($old_height / $ratio);<br>
     &nbsp;&nbsp;$new_width = round($old_width / $ratio);<br>
     <br>
     &nbsp;&nbsp;// Create the new image<br>
     &nbsp;&nbsp;$new_image = imagecreatetruecolor($new_width, $new_height);<br>
     <br>
     &nbsp;&nbsp;// Set transparency according to image type<br>
     &nbsp;&nbsp;if ($image_type == IMAGETYPE_GIF) {<br>
     &nbsp;&nbsp;&nbsp;$alpha = imagecolorallocatealpha($new_image, 0, 0, 0, 127);<br>
     &nbsp;&nbsp;&nbsp;imagecolortransparent($new_image, $alpha);<br>
     &nbsp;&nbsp;}<br>
     <br>
     &nbsp;&nbsp;if ($image_type == IMAGETYPE_PNG || $image_type == IMAGETYPE_GIF) {<br>
     &nbsp;&nbsp;&nbsp;imagealphablending($new_image, false);<br>
     &nbsp;&nbsp;&nbsp;imagesavealpha($new_image, true);<br>
     &nbsp;&nbsp;}<br>
     <br>
     &nbsp;&nbsp;// Copy old image to new image - this resizes the image<br>
     &nbsp;&nbsp;$new_x = 0;<br>
     &nbsp;&nbsp;$new_y = 0;<br>
     &nbsp;&nbsp;$old_x = 0;<br>
     &nbsp;&nbsp;$old_y = 0;<br>
     &nbsp;&nbsp;imagecopyresampled($new_image, $old_image, $new_x, $new_y, $old_x, $old_y, $new_width, $new_height, $old_width, $old_height);<br>
     <br>
     &nbsp;&nbsp;// Write the new image to a new file<br>
     &nbsp;&nbsp;$image_to_file($new_image, $new_image_path);<br>
     &nbsp;&nbsp;// Free any memory associated with the new image<br>
     &nbsp;&nbsp;imagedestroy($new_image);<br>
     &nbsp;&nbsp;} else {<br>
     &nbsp;&nbsp;// Write the old image to a new file<br>
     &nbsp;&nbsp;$image_to_file($old_image, $new_image_path);<br>
     &nbsp;&nbsp;}<br>
     &nbsp;&nbsp;// Free any memory associated with the old image<br>
     &nbsp;&nbsp;imagedestroy($old_image);<br>
     }<br>
     </code>
    </p>

    <h2>Double Check</h2>
    <p><strong>Save the file.</strong></p>
    <p>With all the code added it will be easy to make a mistake. Carefully check for error markers (red icons or red underlines) in the <b>functions.php</b> page. If you find them, fix them.</p>

    <h2>Conclusion</h2>
    <p>Wow! Do you feel worn out? That is a lot of code, but it sure makes our life easy. We indicate a file to upload and these help functions do most of the work to make sure our image is exactly what we want.</p>
   </article>
  </main>
  <footer>
   <a rel="license" href="//creativecommons.org/licenses/by-sa/3.0/deed.en_US" target="_blank"><img alt="Creative Commons License" style="border-width:0" src="//i.creativecommons.org/l/by-sa/3.0/88x31.png"></a> All materials (except as noted) are by <a href="//blainerobertson.net" title="Visit the site" target="_blank">Blaine Robertson</a> and licensed under a <a rel="license" href="http://creativecommons.org/licenses/by-sa/3.0/deed.en_US" title="Read the license" target="_blank">Creative Commons Attribution-ShareAlike 3.0 License</a>.</footer>
 </div>
 <script src="../js/course.min.js"></script>
</body>

</html>
